@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.f-center, .back-side, .back-side::before, .back-side::after, .header-banner, .product-section .iphone-btns .iphone-btn,
.watch-cases, .watch-control, .airpods-section, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* ---------------------------------------------------------- */

#header1 {
  transition: all 0.5s;
  z-index: 997;

  width: 100%;
  height: 0px;
  background-color: black;
  position: fixed;
  padding-bottom: 90px;


}

.header1-wrapper {

text-align: right;
line-height: 18px;
font-size: 14px;;
padding-top: 5px;

}

#header1.header-scrolled,
#header1.header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
}

/* --------------------------------------------------------------*/ 

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
 
}

.navbar li {
  position: relative;
  margin: 0;
    height: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffc451;
}

/* APPLY CV */
/* -------------------------- */
.header1-wrapper .get-started-btn{
            color: #fff;
            border-radius: 4px;
            padding: 7px 25px 8px 25px;
            white-space: nowrap;
            transition: 0.3s;
            font-size: 14px;
            display: inline-block;
            border: 2px solid #ffc451;
            text-decoration: none;
          }

          .header1-wrapper .get-started-btn:hover {
              background: #ffbb38;
              color: #343a40;
            }

/* -------------------------------------------------- */
.header {
  width: 100%;
  padding: auto;
  height: 100vh;
  background-color: #6edae6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0); }


          



.cube-wrapper {
  padding-right: 20px;
   padding-top: 60px;
  -webkit-perspective: 100rem;
          perspective: 100rem; }
      

.cube {
  width: 25rem;
  height: 50rem;
 
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(20deg) rotateZ(0);
          transform: rotateX(0) rotateY(20deg) rotateZ(0);
  position: relative;
  top: -2rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.front-side,
.back-side {
  width: 100%;
  height: 100%;
  background-color: #fee;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd, inset -0.1rem -0.1rem 0.1rem #ddd;
          box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd, inset -0.1rem -0.1rem 0.1rem #ddd; }

.front-side {
  padding: 2.5rem;
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem); }
  .front-side::before, .front-side::after {
    content: "";
    width: 100%;
    height: 10rem;
    background-color: #fee;
    position: absolute;
    -webkit-box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd,
 inset -0.1rem -0.1rem 0.1rem #ddd;
            box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd,
 inset -0.1rem -0.1rem 0.1rem #ddd; }
  .front-side::before {
    top: 0;
    left: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top;
            transform-origin: top; }
  .front-side::after {
    bottom: 0;
    left: 0;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; }
  .front-side img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.back-side {
  -webkit-transform: translateZ(-5rem);
          transform: translateZ(-5rem); }
  .back-side::before, .back-side::after {
    content: "HTUT";
    width: 10rem;
    height: 100%;
    background-color: #fee;
    position: absolute;
    font-size: 2rem;
    font-weight: 300;
    color: #ec1919;
    -webkit-box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd,
 inset -0.1rem -0.1rem 0.1rem #ddd;
            box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd,
 inset -0.1rem -0.1rem 0.1rem #ddd; }

 
  .back-side::before {
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: left;
            transform-origin: left; }
  .back-side::after {
    top: 0;
    right: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: right;
            transform-origin: right; }
  .back-side img {
    width: 150px;
    height: 50px;
   
   
   
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.controls {
  position: absolute;
  bottom: -15rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  border: 1rem solid rgba(0, 0, 0, 0.8); }
  .controls a {
    position: absolute; }
    .controls a:nth-child(1) {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .controls a:nth-child(2) {
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .controls a:nth-child(3) {
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .controls a:nth-child(4) {
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .controls a:nth-child(5) {
      top: 10%;
      right: 10%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .controls a:nth-child(6) {
      bottom: 10%;
      left: 10%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .controls a i {
      font-size: 1.5rem;
      color: #6edae6;
      opacity: 0.5;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .controls a:hover i {
      opacity: 1; }

.header-banner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header-banner h1 {
    font-size: 13rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: rgb(221, 0, 0);
  }
  .header-banner p {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 6rem 0 4rem; 
    color: rgb(221, 0, 0);
  }
  .header-banner span {
    font-size: 3rem;
    margin-bottom: 5rem; }
    
  .header-banner button {
    padding: 2rem 4rem;
    font-size: 2rem;
    background-color: #000;
    color: #ffc451;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
            clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
    -webkit-transition: -webkit-clip-path 0.4s;
    transition: -webkit-clip-path 0.4s;
    transition: clip-path 0.4s;
    transition: clip-path 0.4s, -webkit-clip-path 0.4s; }
    .header-banner button:hover {
      -webkit-clip-path: polygon(40% 15%, 77% 15%, 100% 10%, 100% 90%, 75% 85%, 40% 85%, 30% 100%, 0 50%, 0 50%, 30% 0);
              clip-path: polygon(40% 15%, 77% 15%, 100% 10%, 100% 90%, 75% 85%, 40% 85%, 30% 100%, 0 50%, 0 50%, 30% 0); }

.slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 90px;
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
  left: 0;
  top: 0;
  z-index: -1; }
  .slideshow div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s; }
    .slideshow div.active {
      opacity: 1; }

.product-section {
  width: 100%;
  height: 100vh;
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

  .product-section h1 {
    font-size: 10rem;
    font-weight: 200;
    color: #000;
    position: relative;
    margin-bottom: 5rem; }

    .product-section h1::before {
      content: "";
      width: 130%;
      height: 30vw;
      background: -webkit-gradient(linear, left top, left bottom, from(#6edae6), to(#fff));
      background: linear-gradient(#6edae6, #fff);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: skewX(-50deg);
              transform: skewX(-50deg);
      -webkit-transform-origin: left top;
              transform-origin: left top;
      z-index: -1;
      border-radius: 1rem; }
  .product-section .iphones {
    height: 60vh;
    width: 50vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#6edae6), to(#fff));
    background: linear-gradient(#6edae6, #fff);
    border-radius: 0.5rem; }


    .product-section .iphones img {
      padding-top: 50px;
      width: inherit;
      height: inherit;
      -o-object-fit: contain;
         object-fit: contain;
      position: absolute;
      -webkit-transition: opacity 2s;
      transition: opacity 2s; }


    .product-section .iphones .iphone-img-2 {
      opacity: 0; }
    .product-section .iphones:hover .iphone-img-1 {
      opacity: 0; }
    .product-section .iphones:hover .iphone-img-2 {
      opacity: 1; }
  .product-section .iphone-btns {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-section .iphone-btns .iphone-btn {
      width: 6rem;
      height: 6rem;
      background: -webkit-gradient(linear, left top, right top, color-stop(60%, #333333), to(#525252));
      background: linear-gradient(to right, #333333 60%, #525252);
      margin: 0 3rem;
      border-radius: 50%;
      position: relative; }
      .product-section .iphone-btns .iphone-btn::after {
        content: "";
        width: 50%;
        height: 50%;
        display: block;
        border: 0.1rem solid #6edae6;
        border-radius: 1rem; }
      .product-section .iphone-btns .iphone-btn span {
        position: absolute;
        top: -3rem;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #6edae6;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
      .product-section .iphone-btns .iphone-btn:hover span {
        -webkit-transform: scale(1);
                transform: scale(1); }


.footer {
  width: 100%;
  height: 40vh;
  position: relative; }

.icon-link {
  margin: 0 5rem; }
  .icon-link img {
    width: 10rem; }

.copyright {
  position: absolute;
  bottom: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem; }

@media (max-width: 1500px) {
  html {
    font-size: 45%; } }

@media (max-width: 1500px) {
  html {
    font-size: 40%; }
  .navbar-link {
    font-weight: 700; }
  .header-banner h1 {
    font-size: 8rem; }
  .header-banner p {
    font-size: 3rem; } }



@media (max-width: 700px) {
  .logo {
    top: 0;
    left: 2rem; }
    .logo i {
      font-size: 8rem; }
  .controls {
    display: none; }
  .cube-wrapper {
    opacity: 0.7; }
  .cube {
    top: 3rem; }
  .header-banner {
    position: absolute; }
    .header-banner h1 {
      position: relative;
      left: -5rem; }
    .header-banner h1::first-letter {
      visibility: hidden;
      opacity: 0; }
    .header-banner button:hover {
      -webkit-clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
              clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%); }
  .product-section .iphones {
    height: 70vh;
    width: 70vw; }
  .watch-btn {
    right: 25%; }
  .airpods .airpods-img-1 {
    display: none; }
  .airpods .airpods-img-2 {
    width: 100%; }
  .airpods-btn {
    background-color: #fff;
    color: #6edae6;
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #ddd;
            box-shadow: 0.1rem 0.1rem 0.1rem #ddd; }
  .footer .icon-link {
    margin: 0 2rem; } } 

 @media (max-width: 550px) {
  .navbar .navbar-link {
    margin: 0 1.5rem; }
  .product-section {
    font-size: 8rem; }

 
  } 

 @media (max-width: 200px) {
  html {
    font-size: 30%; }
  .logo {
    top: 10rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .navbar {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .header-banner p {
    text-align: center; }
  .product-section .iphones {
    width: 75vw; }
 
} 

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #532020;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}


/* # Services
-------------------------------------------------------------- */
.services .icon-box {
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 20px;
  box-shadow: 10%;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: #ffc451;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}

.services .icon-box .icon i {
  color: #151515;
  font-size: 28px;
  font-weight: 700;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
  
}

.services .icon-box h4 a {
  color: #151515;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.services .icon-box h4 a:hover {
  color: #ffc451;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}


/* # Cta
-------------------------------------------------------------- */
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../images/product_images/BalloneStar.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  font-size: 20px;
  font-weight: 700;
  color: #030303;

}

.cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

.cta .cta-btn:hover {
  background: #ffc451;
  border-color: #ffc451;
  color: #151515;
}

/* clients
-------------------------- */

.clients {
  padding-top: 20px;
}

.clients .swiper-slide img {
  opacity: 0.8;
  transition: 0.3s;
  filter: grayscale(50);
  height: 70px;
  
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc451;
}
/* ---------------------------- */

.client-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.client-title h2 {
  font-size: 28px;
  font-weight: 600;
  padding: 0;
  padding-left: 100px;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151515;
  font-family: "Poppins", sans-serif;
}

.client-title h2::after {
  content: "";
  width: 200px;
  height: 4px;
  display: inline-block;
  background: #000000;
  margin: 4px 10px;
}

.client-title p {
  margin: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  padding-left: 100px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

/* Responsive Font Sizes */
@media only screen and (max-width: 768px) {
  .client-title h2 {
    font-size: 24px; /* Adjust the font size for smaller screens */
    padding-left: 20px; /* Adjust other properties as needed */
  }

  .client-title p {
    font-size: 16px; /* Adjust the font size for smaller screens */
    padding-left: 20px; /* Adjust other properties as needed */
  }
}



/* ---------------------------- */

.title {
  padding-bottom: 40px;
}

.title h2 {
  font-size: 28px;
  font-weight: 600;
  padding: 0;
  padding-left: 100px;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #af0808;
  font-family: "Poppins", sans-serif;
}

.title h2::after {
  content: "";
  width: 300px;
  height: 2px;
  display: inline-block;
  background: #6e6363;
  margin: 4px 10px;
}

.title p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  padding-left: 150px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .title h2 {
    font-size: 10px; /* Adjust the font size for smaller screens */
    padding-left: 10px; /* Adjust padding for smaller screens */
  }

  .title h2::after {
    width: 150px; /* Adjust the width for smaller screens */
  }

  .title p {
    font-size: 16px; /* Adjust the font size for smaller screens */
    padding-left: 20px; /* Adjust padding for smaller screens */
  }
}


/* # Footer
-------------------------------------------------------------- */
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #ffc451;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ffc451;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ffcd6b;
}

#footer .copy-right {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: #fff;
}

#footer .credits{
  text-align: center;
  text-decoration: none;
}
